# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-e2e-high-util
dist-e2e-no-attention
dist-ssr
dev-dist
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
node_modules/.tmp
